<div>
  <div class="dropdown-header">
    <div class="media d-user">
      <span class="bg-white rounded-circle p-2 font-weight-bold mr-2 rounded_circle_profile"
        style="width: 60px; height: 60px; background-color: #e4e3f3 !important">
        <img [src]="editImageUrl" alt="" style="width: 60px; height: 60px; border-radius: 50px" />
      </span>
      <div class="media-body" style="transform: translate(13px, 0px)">
        <h5 class="mt-0 mb-0">{{ currentUserDetail?.userName }}</h5>
        <span class="mailid">{{ currentUserDetail?.emailId }}</span>
      </div>
    </div>
  </div>
  <a class="dropdown-item d-flex align-items-center" routerLink="/profile" title="My Profile">
    <i class="la la-user fa-2x mr-2"></i>
    <p class="gap">My Profile</p>
  </a>
  <a class="dropdown-item d-flex align-items-center" (click)="onLogOut()" title="Sign Out"><i
      class="la la-sign-out fa-2x mr-2"></i>
    <p class="gap">Sign Out</p>
  </a>
</div>