<div class="green-bg">
    <section class="visitor-addmision main-page">
        <div class="container">
            <div class="visitor-addmission-inner">
                <section class="visitor-list">
                    <div class="main-heading-div">
                        <h2 class="main-head">
                            {{ isEditing ? "Update" : "Add" }} {{ "VISITOR_LIST.UPDATE_USERS" | translate }}
                        </h2>
                    </div>
                    <form class="addusers" [formGroup]="addForm">
                        <div class="row">
                            <div class="col-md-6 add-feild">
                                <label>{{ "VISITOR_LIST.USERNAME" | translate }}</label>
                                <div class="form-group" [ngClass]="{ disableUSername: isEditing }">
                                    <mat-form-field class="example-full-width" appearance="outline" [ngClass]="{ 'gray-color': isEditing }">
                                        <input [readonly]="isEditing" [formControl]="addForm.controls['userName']" matInput type="text" maxlength="15" placeholder="{{ 'ADD-UNRET.NAME' | translate }}" keyPressAlphaNumeric />
                                    </mat-form-field>
                                    <mat-error *ngIf="submitted && addForm.controls['userName'].hasError('required')">User Name {{ "VALIDATE.ERROR9" | translate }}</mat-error>
                                    <!-- <mat-error *ngIf="submitted && addForm.controls['userName'].hasError('minlength')">Minimum Length should be 3 characters</mat-error> -->
                                    <!-- 
                                    <mat-error class="error" *ngIf="
                                    addForm.get('userName').touched &&  (addForm.get('userName').hasError('hasSmallCase') ||
                                    addForm.get('userName').hasError('required'))
                                    ">
                                        <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_LOWERCE" | translate }}</mat-error>
                                    <mat-error *ngIf="
addForm.get('userName').touched && (addForm.get('userName').hasError('hasCapitalCase') ||
addForm.get('userName').hasError('required'))
">
                                        <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_UPPERCASE" | translate }}</mat-error>
                                    <mat-error *ngIf="
                                    addForm.get('userName').touched && (addForm.get('userName').hasError('maxlength') ||
                                    addForm.get('userName').hasError('required'))
                                    ">
                                        <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_USER_CHARACTERS" | translate }}</mat-error>

                                    <mat-error *ngIf="
                                                                        addForm.get('userName').touched &&  (addForm.get('userName').hasError('hasNumber') ||
                                                                        addForm.get('userName').hasError('required'))
                                                                        ">
                                        <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_NUMBER" | translate }}</mat-error>
                                    <mat-error *ngIf="
                                                                                                            addForm.get('userName').touched && (addForm.get('userName').hasError('hasSpecialCharacters') ||
                                                                                                            addForm.get('userName').hasError('required'))
                                                                                                            ">
                                        <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_SYMBOL" | translate }}</mat-error> -->
                              
                              
                                    </div>
                            </div>
                            <div class="col-md-6 add-feild inputdisabl">
                                <label>{{ "VISITOR_LIST.ROLE" | translate }}</label>
                                <div class="form-group">
                                    <mat-form-field appearance="outline" class="w-100" [ngClass]="{ 'gray-color': isEditing }">
                                        <mat-select class="readonly-block" [disabled]="currentUser?.roleName == role || isEditing" placeholder="Select Role" [(ngModel)]="selectedroleList" [formControl]="addForm.controls['roleId']">
                                            <mat-option *ngFor="let role of roleList" [value]="role?.id" (click)="roleSelect(role)">
                                                {{ role?.roleName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-error *ngIf="submitted && addForm.controls['roleId'].errors">Role {{ "VALIDATE.ERROR9" | translate }}</mat-error>
                                </div>
                            </div>
                            <div class="col-md-6 add-feild">
                                <label>{{ "VISITOR_LIST.EMAIL" | translate }}</label>
                                <div class="form-group" [ngClass]="{ disable: isEditing }">
                                    <mat-form-field class="example-full-width" appearance="outline" [ngClass]="{ 'gray-color': isEditing}">
                                        <input type="email" oninput="this.value = this.value.toLowerCase()" [disabled]="currentUser?.roleName == role || isEditing" [formControl]="addForm.controls['email']" matInput placeholder="{{ 'ADD-UNRET.MAIL-ADDRESS' | translate }}" />
                                    </mat-form-field>
                                    <mat-error *ngIf="addForm['controls']['email']?.touched && 
                        addForm.get('email').hasError('required')
                      ">
                                        Email is required
                                    </mat-error>
                       
                                    <mat-error *ngIf="addForm['controls']['email']?.touched && 
                  addForm.get('email').hasError('pattern')
                ">
                                        Enter valid email
                                    </mat-error>
                                </div>
                            </div>


 <div class="col-md-6 add-feild">
                                <label>{{ "VISITOR_LIST.CONTACT" | translate }}</label>
                                <div class="form-group">
                                    <div class="input-phone" [ngClass]="{
                      'red-border-class':
                        submitted && addForm.controls['mobileNo'].errors
                    }">
                                        <ng-container>
                                            <ngx-intl-tel-input class="example-full-width" appearance="outline" [preferredCountries]="['sg']" [onlyCountries]="['sg']" [selectedCountryISO]="selectedCountryISO" [enableAutoCountrySelect]="false" [selectFirstCountry]="false" [enablePlaceholder]="true"
                                                [searchCountryPlaceholder]="
                          'PLACE_HOLDER.PHONE_SEARCH_COUNTRY' | translate
                        " [searchCountryFlag]="false" [separateDialCode]="true" [phoneValidation]="true" name="mobileNo" formControlName="mobileNo" customPlaceholder="65XXXXXX" class="tel-input" [maxLength]="8">
                                            </ngx-intl-tel-input>
                                        </ng-container>
                                    </div>




                                    <mat-error *ngIf="addForm['controls']['mobileNo']?.touched &&
                        addForm.get('mobileNo').hasError('required')
                      ">
                                        Phone Number is required
                                    </mat-error>
                                    <mat-error *ngIf="addForm['controls']['mobileNo']?.touched  && 
                        addForm.get('mobileNo').invalid 
                      ">
                                        Enter valid number
                                    </mat-error>
                                    <!-- <mat-error *ngIf="submitted && 
                        addForm.get('mobileNo').hasError('maxLength')
                      ">
                      Enter only maximum of 8 number
                    </mat-error> -->
                                </div>
                            </div>


                            <!-- passowrd -->
                            <div class="col-md-6 add-feild" *ngIf="!isEditing">
                                <label>{{ "VISITOR_LIST.PASSWORD" | translate }}</label>
                                <div class="form-group" [ngClass]="{ disable: isEditing }">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <input autocomplete="new-password" maxlength="20" [type]="hide ? 'password' : 'text'" [formControl]="addForm.controls['password']" matInput placeholder="{{ 'ADD-UNRET.PASSWORD' | translate }}" type="password" />
                                        <mat-icon matSuffix class="eye-icon1" (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                                    </mat-form-field>

                                    <mat-error *ngIf="submitted &&
                        addForm.get('password').hasError('pattern')
                      ">
                                        Enter valid password
                                    </mat-error>
                                    <mat-error *ngIf="submitted &&
                        addForm.get('password').hasError('required')
                      ">
                                        Password is required
                                    </mat-error>

                                    <ul>
                                        <li>
                                            <mat-error *ngIf="
                          addForm.get('password').touched &&
                          (addForm.get('password').hasError('hasSmallCase') ||
                            addForm.get('password').hasError('required'))
                        ">
                                                <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.AT_LOWERCE" | translate }}
                                            </mat-error>
                                        </li>
                                        <li>
                                            <mat-error *ngIf="
                          addForm.get('password').touched &&
                          (addForm.get('password').hasError('hasCapitalCase') ||
                            addForm.get('password').hasError('required'))
                        ">
                                                <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.AT_UPPERCASE" | translate }}
                                            </mat-error>
                                        </li>
                                        <li>
                                            <mat-error *ngIf="
                          addForm.get('password').touched &&
                          (addForm.get('password').hasError('minlength') ||
                            addForm.get('password').hasError('required'))
                        ">
                                                <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.AT_CHARACTERS" | translate }}
                                            </mat-error>
                                        </li>
                                        <li>
                                            <mat-error *ngIf="
                          addForm.get('password').touched &&
                          (addForm.get('password').hasError('hasNumber') ||
                            addForm.get('password').hasError('required'))
                        ">
                                                <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.AT_NUMBER" | translate }}
                                            </mat-error>
                                        </li>
                                        <li>
                                            <mat-error *ngIf="
                          addForm.get('password').touched &&
                          (addForm.get('password').hasError('hasSymbols') ||
                            addForm.get('password').hasError('required'))
                        ">
                                                <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.AT_SYMBOL" | translate }}
                                            </mat-error>
                                        </li>
                                        <li>
                                            <!-- <mat-error *ngIf="
                        addForm.get('password').touched &&
                        (addForm
                          .get('password')
                          .hasError('hasSpecialCharacters') ||
                          addForm.get('password').hasError('required'))
                      ">
                      <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.AT_SYMBOL" | translate
                      }}</mat-error> -->
                                        </li>

                                    </ul>
                                </div>
                            </div>

                             <!-- confirm-passowrd -->

                           <div class="col-md-6 add-feild" *ngIf="!isEditing">
                                <label>{{ "VISITOR_LIST.CONFIRM_PASSWORD" | translate }}</label>
                                <div class="form-group" [ngClass]="{ disable: isEditing }">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <input autocomplete="new-password" maxlength="20" [type]="hide ? 'password' : 'text'" [formControl]="addForm.controls['confirm_password']" matInput placeholder="{{ 'ADD-UNRET.PASSWORD' | translate }}" type="password" />
                                        <mat-icon matSuffix class="eye-icon1" (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                                    </mat-form-field>

                                    <mat-error *ngIf="
                                    addForm.get('confirm_password').touched &&  (addForm.get('confirm_password').hasError('validatePassword') ||
                                    addForm.get('confirm_password').hasError('required'))
                                    ">
                                    <mat-icon>close</mat-icon>Password and Confirmation Password does not match.</mat-error>

                                </div>
                            </div>
                            <div class="col-md-6 add-feild" *ngIf="isEditing">
                                <label>Status</label>
                                <div class="form-group">
                                    <mat-form-field appearance="outline" class="w-100" [ngClass]="{ 'gray-color': currentUser?.roleName == role}">
                                        <mat-select placeholder="Select Type" class="readonly-block" [disabled]="currentUser?.roleName == role" [formControl]="addForm.controls['userStatus']">
                                            <mat-option *ngFor="let status of statusList" [value]="status.StatusCode">
                                                {{ status.Name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-group w-45 input-fildcl" *ngIf="
                  role == 'WorkStation' || selectedRoleName == 'Work Station'
                ">
                                <label for="lname" class="control-label">
                  {{ "ACS_SETTINGS.VMS_ADD.SHOW" | translate }}
                </label>
                                <div class="slide_toggle">
                                    <mat-slide-toggle [formControl]="addForm.controls['show_T_C']"></mat-slide-toggle>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-end d-flex">
                            <div class="col-md-6 button-save">
                                <label>&nbsp;</label>
                                <div class="justify-content-end d-flex">
                                    <button class="btn-style btn-save" mat-raised-button [disabled]="!addForm.valid" (click)="submitForm()">
                    {{ "VISITOR_LIST.SAVE" | translate }}
                  </button>
                                    <button class="btn-style btn-cancel" mat-raised-button routerLink="/user-account">
                    {{ "VISITOR_LIST.CLOSE" | translate }}
                  </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
</div>
<!-- <app-footer></app-footer> -->