<div class="forgot-password">
    <section class="login-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 d-none d-md-block">
                    <div class="row">
                        <div class="auth-side-wrapper"></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="auth-form-wrapper px-4 py-5">
                            <div class="inner-wrap">
                                <div class="logo-sec">
                                    <img src="assets/images/senoko-logo.png" alt=".." />
                                    <p>{{ "LOGIN.TITLE" | translate }}</p>
                                </div>
                            </div>

                            <div class="inner-wrap inner-wrap-two">
                                <mat-horizontal-stepper linear #stepper>
                                    <mat-step label="Enter User Credentials" [stepControl]="stepOneForm">
                                        <form [formGroup]="stepOneForm" class="example-form form-d-flex">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>User Name</mat-label>
                                                <input matInput placeholder="Enter User Name" formControlName="UserName" type="text" />
                                                <mat-error *ngIf="f['UserName']?.hasError('required')">User name is required</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="example-full-width">
                                                <mat-label>Email Address</mat-label>
                                                <input matInput placeholder="Enter Email Address" formControlName="EmailId" type="text" />
                                                <mat-error *ngIf="f['EmailId'].hasError('required')">Email address is required</mat-error>
                                                <mat-error *ngIf="f['EmailId'].hasError('pattern')">Enter Valid Email</mat-error>
                                            </mat-form-field>
                                        </form>

                                        <div class="nex-prv-btn">
                                            <button (click)="ForgotPasswordOTP(stepper)" class="next-btn" mat-button>
                        Next
                      </button>
                                        </div>
                                    </mat-step>

                                    <mat-step label="Enter Password Reset Code" [stepControl]="stepTwoForm">
                                        <form class="example-form form-d-flex" [formGroup]="stepTwoForm">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Enter Password Reset Code</mat-label>
                                                <input custom-autofocus matInput formControlName="otp" (keypress)="keyPressContact($event)" maxlength="4" placeholder="Enter password Reset Code" required>
                                            </mat-form-field>
                                            <!-- <mat-error *ngIf="Error">Code is invalid</mat-error> -->
                                        </form>
                                        <div class="nex-prv-btn">
                                            <button class="prv-brn" mat-button matStepperPrevious>
                        Previous
                      </button>
                                            <button (click)="PasswordResetCode(stepper)" class="next-btn" mat-button>
                        Next
                      </button>
                                        </div>
                                    </mat-step>
                                    <mat-step label="Enter New Password" [stepControl]="stepThreeForm">
                                        <form class="example-form form-d-flex" [formGroup]="stepThreeForm">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Enter New Password</mat-label>
                                                <input matInput placeholder="Enter New Password" formControlName="newPassword" (keyup)="validatePassword($event)" name="password" [type]="!hide ? 'password' : 'text'" />
                                                <mat-icon class="eye-icon1" (click)="hide = !hide">{{ hide ? "visibility" : "visibility_off"  }}</mat-icon>
                                                <mat-error *ngIf="h['newPassword'].hasError('required')">Password is required</mat-error>
                                                <!-- <mat-error *ngIf="h['newPassword'].hasError('minLength')">
                                                    Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1 special character
                                                </mat-error>
                                                <mat-error *ngIf="h['newPassword'].hasError('pattern')">
                                                    Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1 special character
                                                </mat-error> -->
                                                <p *ngIf="error && newPasswordCheck && check  " class="text-danger   np-err mt-4 ml-2">*Password criteria doesn't match</p>

                                            </mat-form-field>
                                            <div class="password-rules  col-lg-4 mt-2" *ngIf="show">
                                                <!-- <h3 class="pl-4"><i class="fa fa-bell"></i> Password rules:</h3> -->
                                                <br>


                                                <!-- <h5>Password must contain<br> the following:</h5> -->
                                                <p id="letter" class="wrong" *ngIf="!lowerCase">
                                                    At least one lowercase letter (a-z)
                                                </p>
                                                <p id="letter" class="correct" *ngIf="lowerCase">
                                                    At least one lowercase letter (a-z)
                                                </p>
                                                <p id="capital" class="correct" *ngIf="upperCase">
                                                    At least one uppercase letter (A-Z)
                                                </p>
                                                <p id="capital" class="wrong" *ngIf="!upperCase">
                                                    At least one uppercase letter (A-Z)
                                                </p>
                                                <p id="number" class="correct" *ngIf="eightCharLength">
                                                    At least 14 Characters
                                                </p>
                                                <p id="number" class="wrong" *ngIf="!eightCharLength">
                                                    At least 14 Characters
                                                </p>
                                                <p id="number" class="wrong" *ngIf="!numberCase">
                                                    At least one number (0-9)
                                                </p>
                                                <p id="number" class="correct" *ngIf="numberCase">
                                                    At least one number (0-9)
                                                </p>
                                                <p id="number" class="correct" *ngIf="specialCase">
                                                    At least 1 special symbol (@$,.*)
                                                </p>
                                                <p id="number" class="wrong" *ngIf="!specialCase">
                                                    At least 1 special symbol (@$,.*)
                                                </p>

                                            </div>

                                            <mat-form-field class="example-full-width">
                                                <mat-label>Confirm New Password</mat-label>
                                                <input matInput placeholder="Confirm New Password" formControlName="confPassword" name="password" [type]="!hide1 ? 'password' : 'text'" (keyup)="onKey()" />
                                                <mat-icon class="eye-icon1" (click)="hide1 = !hide1">{{ hide1 ?"visibility" : "visibility_off"  }}</mat-icon>
                                                <mat-error *ngIf="h['confPassword'].hasError('required')">Password required</mat-error>
                                                <mat-error *ngIf="h['confPassword'].hasError('minLength')">
                                                    Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1 special character
                                                </mat-error>
                                                <mat-error *ngIf="h['confPassword'].hasError('pattern')">
                                                    Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1 special character
                                                </mat-error>
                                                <mat-error *ngIf="password1">Password doesn't match</mat-error>

                                            </mat-form-field>
                                        </form>
                                        <div class="nex-prv-btn">
                                            <button class="prv-brn" mat-button matStepperPrevious>
                        Previous
                      </button>
                                            <button (click)="CreateNewPassword()" class="next-btn" mat-button>
                        Finish
                      </button>
                                        </div>
                                    </mat-step>

                                    <!-- Icon overrides. -->
                                    <ng-template matStepperIcon="phone">
                                        <mat-icon>call_end</mat-icon>
                                    </ng-template>
                                    <ng-template matStepperIcon="chat">
                                        <mat-icon>forum</mat-icon>
                                    </ng-template>
                                </mat-horizontal-stepper>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<ngx-spinner size="medium" [type]="typeSelected"></ngx-spinner>