<section class="login-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 d-none d-md-block">
                <div class="row">
                    <div class="auth-side-wrapper"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="auth-form-wrapper px-4 py-5">
                        <div class="inner-wrap">
                            <div class="logo-sec">
                                <img src="assets/images/senoko-logo.png" alt=".." />
                                <p>{{ "LOGIN.VISITOR" | translate }}</p>
                              </div>

                            <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="submitForm()">
                                <div class="form-style form-group paddingLabel required">
                                  
                                  <div class="text_field">
                                    <mat-form-field appearance="outline" class="w-100 h-60">
                                      <div class="input-img">
                                        <img src="assets/images/password.png" alt=".." />
                                      </div>
                                      <input class="" type="password"
                                        [formControl]="loginForm.controls['password']" matInput placeholder="{{'LOGIN.OLDPASS' | translate }}" [type]="hide ? 'password' : 'text'" />
                                      <mat-icon matSuffix class="eye-icon1" (click)="hide = !hide">{{ hide ? "visibility_off" :
                                        "visibility" }}</mat-icon>
                                    </mat-form-field>
                                    <mat-error *ngIf="submitted && loginForm.controls['password'].errors">Password
                                      {{ "VALIDATE.ERROR9" | translate }}
                                    </mat-error>
                                  </div>


                                  <div class="text_field">
                                    <mat-form-field appearance="outline" class="w-100 h-60">
                                      <div class="input-img">
                                        <img src="assets/images/password.png" alt=".." />
                                      </div>
                                      <input class=""  type="password"
                                        [formControl]="loginForm.controls['password']" matInput placeholder="{{'LOGIN.NEWPASS' | translate }}" [type]="hide ? 'password' : 'text'" />
                                      <mat-icon matSuffix class="eye-icon1" (click)="hide = !hide">{{ hide ? "visibility_off" :
                                        "visibility" }}</mat-icon>
                                    </mat-form-field>
                                    <mat-error *ngIf="submitted && loginForm.controls['password'].errors">Password
                                      {{ "VALIDATE.ERROR9" | translate }}
                                    </mat-error>
                                  </div>


                                  <div class="text_field">
                                    <mat-form-field appearance="outline" class="w-100 h-60">
                                      <div class="input-img">
                                        <img src="assets/images/password.png" alt=".." />
                                      </div>
                                      <input class="" type="password"
                                        [formControl]="loginForm.controls['password']" matInput placeholder="{{'LOGIN.CONFIRMPASS' | translate }}" [type]="hide ? 'password' : 'text'" />
                                      <mat-icon matSuffix class="eye-icon1" (click)="hide = !hide">{{ hide ? "visibility_off" :
                                        "visibility" }}</mat-icon>
                                    </mat-form-field>
                                    <mat-error *ngIf="submitted && loginForm.controls['password'].errors">Password
                                      {{ "VALIDATE.ERROR9" | translate }}
                                    </mat-error>
                                  </div>
                
                
                
                                  <div class="button_submit">
                                    <button type="submit" class="loginbutton btn btn-primary mb-3">
                                      {{ "LOGIN.SUBMITBTN" | translate }}                
                                    </button>

                                    <button type="submit" class="loginbutton btn btn-cancel">
                                      {{ "LOGIN.CANCELBTN" | translate }}                
                                    </button>
                                    
                                  </div>
                                </div>
                              </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>